/* Style for the form container */
.form-signin {
  display: flex;
  flex-direction: column; /* Align children vertically */
  padding: 30px;
  margin: auto; /* Center the form on the page */
  background-color: #fae6bfe9; /* Light background for the form */
  border-radius: 8px; /* Rounded corners for the form container */
  box-shadow: 0 6px 12px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  max-width: 400px; /* Maximum width of the form */
}

/* Style for the form */
form {
  width: 100%; /* Make the form take full width of its container */
}

/* Style for each form field */
form p {
  width: 100%; /* Make each form field take full width */
  margin-bottom: 15px; /* Space between form fields */
}

/* Style for the input fields and textarea within the form */
form input[type="text"], 
form input[type="email"], 
form textarea {
  width: calc(100% - 20px); /* Full width minus padding */
  padding: 12px;
  margin-bottom: 15px; /* Space between the fields */
  border: 1px solid #a9a8a8; /* Border styling */
  border-radius: 4px; /* Rounded corners */
  background-color: #fff; /* White background for inputs */
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1); /* Subtle inner shadow for depth */
}

/* Style for the submit button */
.button {
  width: 100%; /* Full width of its parent */
  padding: 12px 15px;
  border: none;
  border-radius: 4px;
  background-color: #c09737; /* Green background for a more inviting button */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for button hover */
}

.button:hover {
  background-color: #b67f09; /* Slightly darker shade on hover */
}

/* Add a hover effect to inputs and textarea for better user interaction */
form input[type="text"]:hover, 
form input[type="email"]:hover, 
form textarea:hover {
  border-color: #888; /* Change border color on hover */
}